
/* BANNERS */

body:not(.is-mobile) {
  --side-margin:  var(--size-4-8);
  --top-margin: var(--size-4-8);
}

.is-mobile {
  --side-margin: var(--size-4-6);
  --top-margin: var(--size-4-2);
}

.markdown-preview-view .banner-image:not(:empty),
.is-live-preview .banner-image:not(:empty) {
    width: calc(100% + var(--side-margin) * 2);
    margin-top: calc(0px - var(--top-margin));
    margin-left: calc(0px - var(--side-margin));
    margin-bottom: var(--banner-margin);
}

.is-live-preview .banner-image:not(:empty) {
    margin-right: calc(0px - var(--side-margin));
}


.cm-scroller {
    flex-wrap: wrap;
}

.markdown-source-view:not(.is-live-preview) .banner-image:not(:empty) {
    display: none;
}

.banner-image img {
    width: 100%;
    height: var(--banner-height);
    object-fit: cover;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}





/* SIDE IMAGES*/

body:not(.is-mobile) .metadata-container:has(.metadata-side-image img) {
  --metadata-display-editing: grid;
  --metadata-display-reading: grid;
  grid-column-gap: 15px;
  grid-template-rows: auto 1fr;
}

.metadata-side-image {
    grid-row: 1/3;
}

.metadata-container:has(.metadata-side-image.vertical) {
  grid-template-columns: var(--cover-width-vertical) auto;
}

.metadata-container:has(.metadata-side-image.horizontal) {
  grid-template-columns: var(--cover-width-horizontal) auto;
}

.metadata-container:has(.metadata-side-image.square) {
  grid-template-columns: var(--cover-width-square) auto;
}


.metadata-container:has(.metadata-side-image.circle) {
  grid-template-columns: var(--cover-width-circle) auto;
}

.is-mobile .metadata-side-image {
  width: 100%;
  text-align: center;
}


.is-mobile .metadata-side-image img {
  height: 200px !important;
  width: unset;
  object-fit: cover !important;
  margin: auto;
}



.metadata-side-image.vertical img {
  aspect-ratio: 0.63;
  object-fit: contain;
  object-position: top;
}

.metadata-side-image.horizontal img {
  aspect-ratio: 4/3;
  object-fit: cover;
}

.metadata-side-image.square img {
  aspect-ratio: 1;
  object-fit: cover;
}

.metadata-side-image.circle img {
  aspect-ratio: 1 !important;
  object-fit: cover;
  border-radius: 50%;
}



.metadata-side-image > img {
  width: 100%;
}

.metadata-content {
  min-width: 0 !important;
}




.multi-select-pill {
  --pill-padding-x: var(--tag-padding-x);
  --pill-padding-y: var(--tag-padding-y);
  
}


.markdown-preview-view progress.metadata-progress, 
.markdown-source-view.is-live-preview progress.metadata-progress {
  width: 150px;
  height: 9px;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 100%;

}

.metadata-progress-wrapper {
  padding-left: var(--size-4-2);
  display: flex;
  flex-shrink: 1;
  width: 100%;
  max-width: 150px;
  gap: var(--size-2-2);
  align-items: center;
  align-self: stretch;
  min-height: var(--input-height);
  background-color: var(--metadata-input-background);
  border-bottom: var(--metadata-divider-width) solid var(--metadata-divider-color);
  overflow: hidden;
}